body {
    /* background-color: #333; */
    color: #fff;
    margin: 0px;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    overflow-x: hidden;
}

#fixedBackground {
    background: linear-gradient(129deg, #172d82, #40024d);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    float: left;
    z-index: -100;
}

#backToHome {
    height: 10vh;
    z-index: 100;
    position: fixed;
    top: 2vh;
    left: 2vh;
    transition: all 0.3s ease-in-out;
}

#backToHome:hover {
    transform: scale(1.1);
}

#header {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}

#sideHeader {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 50% 20% 30%;
    grid-template-columns: 100%;
    margin: 0;
}

#sideHeader > img {
    width: calc(min(40vh, 60vw));
    margin: 5vh auto;
}

#sideHeader > h1 {
    width: 100%;
    font-size: calc(min(8vh, 10vw));
    text-align: center;
}

#sideHeader #sloganContainer {
    width: calc(min(60vh, 80vw));
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

#sideHeader #sloganContainer img {
    height: calc(min(4vh, 6vw));
    margin: auto;
}

#sideHeader #sloganContainer a {
    font-size: calc(min(2.5vh, 3.75vw));
    color: #fff;
    text-decoration: none;
    flex-grow: 1;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

#sideHeader #sloganContainer a:hover {
    transform: scale(1.1);
}

#shortDesc {
    width: 100%;
    height: 100%;
}

#shortDesc p {
    margin: 0;
    padding: 10vh;
    padding-left: 0vh;
    width: 70%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(min(3vh, 4.5vw));
}



#projectHeader {
    width: 100%;
}

#projectHeader h1 {
    width: 100%;
    text-align: center;
    font-size: calc(min(8vh, 10vw));
}

#projectContainer {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.projectThumbnail {
    width: 60%;
    height: calc(50vh - 4vw);
    margin: 2vw;
    padding: 0 5vw 0 5vw;
    background-clip: border-box;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    border-radius: 5vh;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
}

.projectThumbnail:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(1.1);
}

.projectThumbnail h2 {
    font-size: calc(min(6vh, 8vw));
    text-align: center;
    width: 100%;
}

#projectBanner {
    width: 100%;
    padding-top: 70vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,1) 60%, rgba(0,0,0,0));
    position: relative;
    z-index: -50;
}

#projectBanner + h2 {
    margin: -2em auto 1em auto;
    width: 60%;
    font-size: calc(min(9vh, 12vw));
    text-align: center;
}

.project {
    width: 60%;
    margin: 0 auto;
}

.project h3 {
    font-size: calc(min(4vh, 6vw));
    text-align: center;
    width: 100%;
}

.project p {
    font-size: calc(min(2.5vh, 3.75vw));
}

.project img,.project iframe {
    margin: 1em auto;
    max-height: 50vh;
    max-width: 100%;
    display: block;
}

.project code {
    display: block;
    background-color: #222;
    color: #6b6;
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
    margin: 1em 0;
    border-radius: 5px;
    padding: 5px;
}

.project a {
    color: #3be1ff;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #444;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #777;
}

@media (max-aspect-ratio: 4/3) {
    #header {
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        height: auto;
    }

    #sideHeader {
        height: calc(max(80vw, 120vh));
        max-height: calc(min(150vw, 100vh));
    }

    #shortDesc p {
        padding: 5vw;
        width: 90%;
    }

    #projectContainer {
        grid-template-columns: 100%;
        width: 100%;
    }

    .projectThumbnail {
        margin: 2vw auto;
        width: 80%;
    }
}