body {
  margin: 0px;
}

.mainLeft {
  width: 100%;
  height: 100vh;
  margin: 0px;
}

.symbCode {
  float: left;
  width: calc(100% - 492px);
  border-width: 0px;
  border-right-width: 10px;
  height: calc(100% - 8px);
  font-size: 30px;
  resize: none;
}

.binCode {
  float: left;
  width: 150px;
  border-width: 0px;
  border-right-width: 10px;
  height: calc(100% - 8px);
  font-size: 30px;
  resize: none;
}

.indexLines {
  float: left;
  width: 100px;
  border-width: 0px;
  border-right-width: 10px;
  height: calc(100% - 8px);
  font-size: 30px;
  resize: none;
}
